@page "/"
@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>
<br/>
<br/>
<br/>
<h2>Start by entering the company details!</h2>

<br/>
<br/>

<MudButton Variant="Variant.Filled" @onclick="ShowForm" Color="Color.Primary" Size="Size.Large" Style="font-size: 18px;
           font-weight: bold;
           font-family: Open Sans;">Enter Company Details</MudButton>


@if (showForm)
{
    <!-- Render the non-routable component when button is clicked -->
    Navigation.NavigateTo("/companyform");
}

@code {
    private bool showForm = false;

    private void ShowForm()
    {
        showForm = true;
    }
}
